<%= stylesheet_link_tag "student_home" %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="profile-image">
      <% if @students.profile_image.attached? %>
        <%= image_tag @students.profile_image %>
      <% else %>
        <%= image_tag("logo.png") %>
      <% end %>
    </div>
    <div class="heading">
      <h3>&nbsp <%= link_to "Welcome Student", "/home_student/#{@students.id}/students" %> </h3>
    </div>
    <a href="/students/edit" class="btn btn-primary" style="margin-left:auto; margin-right:10px;">Edit</a>
    <%= link_to 'Sign out', destroy_student_session_path,  data: {turbo_method: :delete}, class:"btn btn-primary"%>
  </div>
</div>
</nav>
